<%- include('./layout/header'); -%>

<div class="container-fluid">
    <div class="card col-md-10" style="margin: .5rem;">
        <div class="card-header">
            <h5 class="card-title">Events</h5>
            <h6 class="card-subtitle text-muted">List of events! - <a href="/create">Create</a></h6>
        </div>
        <div class="card-body"> 
            <table id="events" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
            </table>
        </div>
        <div class="card-footer text-muted text-center">
            Copyright &copy; 2023 - Atiqul Hoque
        </div>
    </div>
</div>

<%- include('./layout/scripts'); -%>

<script>
    $(document).ready(function () {
    $('#events').DataTable({
        lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
        pageLength: 5,
        scrollX: true,
        searching: false,
        processing: true,
        serverSide: true,
        ordering: false,
        ajax: {
            url: '/server-side-processing',
            dataSrc: function (json) {
                json.data.forEach(function(row) {
                    row.push(`<a href='edit/${row[0]}'>Edit</a> <a href='delete/${row[0]}'>Delete</a>`);
                });
                return json.data;
            }
        },
        columns: [
            {data: 0},
            {data: 1},
            {data: 2},
            {data: 3},
            {data: 6, defaultContent: `<a href='#'>Edit</a> <a href='#'>Delete</a>`}
        ],
        columnDefs: [
            {
                target: 0,
                visible: false,
                searchable: false
            },
        ],
    });
});
</script>

<%- include('./layout/footer'); -%>