<%- include('./layout/header'); -%>

<div class="container-fluid">
    <div class="card col-md-10" style="margin: .5rem;">
        <div class="card-header">
            <h5 class="card-title">Events</h5>
        </div>
        <div class="card-body"> 
            <table id="events" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Date</th>
                    </tr>
                </thead>
                
            </table>
        </div>
    </div>
</div>

<%- include('./layout/scripts'); -%>

<script>
    $(document).ready(function () {
    $('#events').DataTable({
        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        pageLength: 5, 
        "processing": true,
        "serverSide": true,
        ajax: '/server-side-processing',
        // columns: [
        //     { data: 'sl' },
        //     { data: 'event_name' },
        //     { data: 'event_location' },
        //     { data: 'event_date' },
        //     {
        //         data: 'id',
        //         render: function ( data, type, row ) {
        //             return '<a href="/events/'+data+'">Edit</a>';
        //         }
        //     }
        // ],
        columnDefs: [
            {
                target: 0,
                visible: false,
                searchable: false,
            },
        ],
    });
});
</script>

<%- include('./layout/footer'); -%>