<%- include('./layout/header'); -%>

<div class="container-fluid">
    <div class="card text-center col-md-8" style="margin: .5rem;">
        <div class="card-header">
          Introduction
        </div>
        <div class="card-body">
          <h5 class="card-title">CRUD FRONT-END SERVICE</h5>
          <p class="card-text">this is a front-end web application/client for a RESTful CRUD API project.</p>
          <a href="/events" class="btn btn-primary">Go to event list</a>
        </div>
        <div class="card-footer text-muted">
            Copyright &copy; 2023 -  Atiqul Hoque
        </div>
    </div>
</div>

<%- include('./layout/scripts'); -%>
<%- include('./layout/footer'); -%>